.button {
    border-radius: 16px;
    border: none;
    font-weight: bold;
    outline: 1px solid $TextFormColor;
    outline-offset: -1.8px;
    background-color: $cardColor;
    padding: 5px 32px;
    color: $TitlesColor;
}